body {
  padding-bottom: 20px;
  text-align:center;
  font-style: italic;
}
h1{
  color:yellow;
}
.p2{
background-color: green;
}
.navbar {
  margin-bottom: 20px;
}
div.polaroid{
  display:block;
  width:40%;
  background-color:white;
  box-shadow:0 4px 8px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left:auto;
  margin-right:auto;
}
div.container{
  text-align:center;
  padding:10px 20px 20px;
}

